[Unit]
Description=Ombre Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/root/ombre/build/release/bin/ombred --rpc-bind-ip 0.0.0.0 --detach --allow-external-bind
Restart=always
User=ombredaemon

[Install]
WantedBy=multi-user.target